MANIFEST
NOGIT/*
NOGIT/*/*
*/libreadline.a
tests/TestListTravis.sh
*.pyc
*.pyo
build
*.so
nohup.out
*.swp
test.parm7
tests/output/test*
tests/*nogit*
tests_python3/output/test*
test*.pyx
temp.*
examples/data/cpptraj.log
pytraj/*html
pytraj/*tmp
pytraj/*bk
pytraj/actions/*.cpp
pytraj/datasets/*.cpp
pytraj/trajs/*.cpp
pytraj/parms/*.cpp
pytraj/analyses/*.cpp
pytraj/*.cpp
tests/TestListTravis.sh
Ambertools/v14/cpptraj/config.h
Ambertools/V15.22b/cpptraj/src/*.o
Ambertools/V15.22b/cpptraj/src/readline/*.o
CpptrajTest.nogit
Ambertools/dev/cpptraj/src/*.o
Ambertools/dev/cpptraj/src/readline/*.o
