language: cpp

matrix:
  include:
    - { os: linux, env: PYTHON_VERSION=2.7 }
    - { os: linux, env: PYTHON_VERSION=3.6 }
    - { os: linux, env: PYTHON_VERSION=3.6 USE_OPENMP=false }
    - { os: linux, env: PYTHON_VERSION=3.6 TEST_SETUP=true }
    - { os: osx, env: PYTHON_VERSION=3.6 }

sudo: false

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      brew tap homebrew/science;
      brew update;
      brew install netcdf fftw;
      export CXX=clang++;
      export CC=clang;
    else
      export CXX=g++-6;
      export CC=gcc-6;
    fi

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-6
    - g++-6
    - gfortran-6
    - gfortran-5
    - g++
    - gfortran
    - clang
    - libz-dev
    - libbz2-dev
    - libblas-dev
    - liblapack-dev
    - libarpack2-dev
    - libnetcdf-dev
    - openmpi-bin
    - openmpi-common
    - libopenmpi-dev

install:
    - source devtools/ci/setup_env.sh
    - source devtools/ci/install_test.sh

script:
    - which gcc
    - gcc -v
    - which g++
    - g++ -v
    - source devtools/travis-ci/install_pytraj.sh
    - otool -L cpptraj/lib/libcpptraj.dylib
    - otool -L /Users/travis/miniconda3/envs/myenv/lib/python3.6/site-packages/pytraj-2.0.3.dev0-py3.6-macosx-10.9-x86_64.egg/pytraj/topology/topology.cpython-36m-darwin.so
    - source devtools/ci/run_tests.sh

after_success:
    - echo "after_success"
    - cd tests/
    - ../devtools/ci/coveralls

notifications:
  email:
    recipients:
      - nhai.qn@gmail.com
    on_success: never
    on_failure: always
