language: generic

matrix:
  include:
    # - { os: linux, env: PYTHON_VERSION=2.7 }
    # - { os: linux, env: PYTHON_VERSION=3.4 }
    # - { os: linux, env: PYTHON_VERSION=3.5 }
    - { os: osx, env: PYTHON_VERSION=3.5 BUILD_FLAGS="-macAccelerate -shared --with-fftw3=/usr/local --with-netcdf=/usr/local -noarpack"}

sudo: false

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      brew tap homebrew/science;
      brew update;
      brew install netcdf fftw;
    fi

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++
    - gfortran
    - libz-dev
    - libbz2-dev
    - libblas-dev
    - liblapack-dev
    - libarpack2-dev
    - libnetcdf-dev

install:
    - source devtools/travis-ci/setup_env.sh
    - python --version

script:
    - source devtools/travis-ci/install_pytraj.sh
    - export LD_LIBRARY_PATH=`pwd`"/cpptraj/lib":$LD_LIBRARY_PATH
    - export DYLD_LIBRARY_PATH=`pwd`"/cpptraj/lib":$DYLD_LIBRARY_PATH
    - sh ./devtools/travis-ci/pyflakes_check.sh
    - export CPPTRAJHOME=`pwd`"/cpptraj/"
    - cd ./tests
    - python ./run_simple_test.py
    - nosetests --with-coverage --cover-package pytraj -vs test_*.py */test_*.py
    - unset CPPTRAJHOME # for pytraj.tools coverage
    - nosetests --with-coverage --cover-package pytraj -vs test_docs.py
    - cd ../examples
    - python ./run_examples.py
    - cd mpi_examples
    - sh run_mpi_examples.sh 4 

after_success:
    - echo "after_success"
    - cd ../../tests/
    - coveralls

notifications:
  email: false
