language: cpp

matrix:
  include:
    - { os: linux, env: PYTHON_VERSION=2.7 }
    - { os: linux, env: PYTHON_VERSION=3.4 }
    - { os: linux, env: PYTHON_VERSION=3.5 }
    - { os: linux, env: PYTHON_VERSION=3.5 COMPILER=clang }
    - { os: osx, env: PYTHON_VERSION=3.5 CPPTRAJ_COMPILER_OPTION=gnu}
    # - { os: osx, env: PYTHON_VERSION=3.5 CPPTRAJ_COMPILER_OPTION=clang}

sudo: false

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      brew tap homebrew/science;
      brew update;
      brew install netcdf fftw;
    fi

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++
    - gfortran
    - clang
    - libz-dev
    - libbz2-dev
    - libblas-dev
    - liblapack-dev
    - libarpack2-dev
    - libnetcdf-dev

install:
    - source devtools/travis-ci/setup_env.sh
    - python --version

script:
    - source devtools/travis-ci/install_pytraj.sh
    - source devtools/travis-ci/run_tests.sh

after_success:
    - echo "after_success"
    - cd tests/
    - ../devtools/travis-ci/coveralls

notifications:
  email: false
