os: Windows Server 2012
environment:
  matrix:
    - PYTHON: "C:\\Miniconda3"
      CONDA_PY: "35"
      CONDA_NPY: "1.10"

install:
  - set HOME=.
  - set MSYSTEM=MINGW64
  - ls C:/msys64/mingw64/lib/
  - set PATH=C:/msys64/usr/bin;C:/msys64/mingw64/bin;%PATH%
  - "sh -lc \"pacman -S --noconfirm --needed
      mingw-w64-x86_64-openblas
      mingw-w64-x86_64-arpack
      mingw-w64-x86_64-gcc
      mingw-w64-x86_64-gcc-fortran
      mingw-w64-x86_64-ncurses
      mingw-w64-x86_64-readline
      mingw-w64-x86_64-python2-numpy
      diffutils
    \""
  - appveyor DownloadFile https://ci.appveyor.com/api/buildjobs/46egeqnndp33q662/artifacts/cpptraj-6045433.zip -FileName cpptraj.zip
  - mkdir cpptraj
  - mv cpptraj.zip cpptraj/
  - cd cpptraj/
  - 7z x cpptraj.zip
  - ls . 
  - ls lib/
  - cp lib/libcpptraj.lib lib/cpptraj.lib
  - cd ../

build_script:
  - set PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%
  - where python
  - python -m pip install cython
  - python setup.py --cythonize # use miniconda cython
  - set PATH=C:/msys64/usr/bin;C:/msys64/mingw64/bin;%PATH% # using mingw64 python
  - python setup.py build --disable-openmp
  - python setup.py install
  - cd tests
  - python -c "import numpy; print(numpy)"
  - python -c "import pytraj; pytraj.run_tests()"
