include README.md
include README.rst
include PYXLIST.txt
include requirements.txt
include manual.txt
recursive-include contributors 
recursive-include development 
recursive-include licenses 
include pytraj/gdt/src/*h
include tests/*py
include tests/test_API/*
include tests/output/README
include examples/*py
include examples/test_API/*py
include pytraj/data_sample/*.py
include pytraj/data_sample/Ala3*
include installs/ins*
recursive-include pytraj *.pyx *.pxd
recursive-include scripts
