[run]
branch = True
source = pytraj
omit =
    */externals/*
    */sandbox/*
 
[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise ValueError
    except ImportError
    except NameError
    if 0:
    if __name__ == .__main__.:
