[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise ValueError
    except ImportError
    if 0:
    if __name__ == .__main__.:
